.scene-hotspot::after {
  inset: 0;
}

.steam-hotspot {
  --scene-hotspot-left: 80.6%;
  --scene-hotspot-top: 91.5%;
  --scene-hotspot-width: 8.0%;
  --scene-hotspot-height: 4.9%;
}

.taiko-hotspot {
  --scene-hotspot-left: 80.6%;
  --scene-hotspot-top: 91.5%;
  --scene-hotspot-width: 8.0%;
  --scene-hotspot-height: 4.9%;
}

.logo-hotspot {
  --scene-hotspot-left: 3.2%;
  --scene-hotspot-top: 9.4%;
  --scene-hotspot-width: 47.8%;
  --scene-hotspot-height: 42.4%;
}
